* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 4vh;
  background-color: #00BFFF;
  min-width: 300px;
}

.titulo h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Sansita Swashed', cursive, sans-serif;
  color: white;
   font-size: 2.3rem;
   min-width: 300px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color:#f7f7f7;

}

.imagen{
  width: 270px;
  height:270px;
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 300px;
}

p {
  display:flex;
  justify-content: center;
  align-items: center;
}

.invito_titulo{
  padding: 3px;
  justify-content: center;
  text-align:center;
  justify-content: center;
  background-color: #e1474d;
  width: 100%;
  min-width: 300px;
  height: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  color: white;
  min-width: 300px;
}

.invito_data{
  padding: 3px;
  text-align:center;
  background-color: #5146af;
  width: 100%;
  min-width: 300px;
  height: 90px;
  font-size: 1.5rem;
  color: white;
  margin:auto;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-width: 300px;
}

.invito_temas{
  display:flex;
  flex-direction:column;
  padding: 4px;
  background-color: #42fafe;
  width: 100%;
  min-width: 300px;
  height: 250px;
  font-size: 1.7rem;
  color:  #5146af;
  margin:auto;
  padding-left: 10px;
  list-style-type: none;
}

.invito_temas li{
  font-size: 2rem;
  font-family: 'Sansita Swashed', cursive, sans-serif;
  border: 5px;
}

.seguridad{
  display:flex;
  align-items:center;
  padding-left: 45px;
  height: 50px;
  border: 15px;
}

.criptomonedas{
  display:flex;
  align-items:center;
  padding-left: 45px;
  height: 50px;
  border: 15px;
}


.metaverso{
  display:flex;
  align-items:center;
  padding-left: 45px;
  height: 50px;
  border: 15px;
}

.velocidad{
  display:flex;
  align-items:center;
  padding-left: 45px;
  height: 50px;
  border: 15px;
}



.main_input{
  width: 100%;
  padding: 3px;
  height: 150px;
  display:flex;
  flex-direction:column;
  align-content:space-around;
  justify-content: center;
  align-items:center;
  background-color:#e1474d;
  min-width: 300px;
}

.main_input .nombre{
  height: 100%;
  width: 100%;
  padding: 0px;
  display:flex;
  background-color:#e1474d;
}


.main_input .correo{
  height: 100%;
  padding: 0px;
  display:flex;
  background-color:r#e1474d;
  align-content:flex-end;
}

.main_input span{
  padding: 5px;
  color: white;
  font-size: 1.4rem;
  display:flex;
  align-content:flex-end;

}

#submit {
  display:flex;
  align-items: center;
  justify-content: center;;
  background-color: #42fafe; /* colore di sfondo    */
  border: 0px solid #000000; /*bordo dell'elemento */
  margin: 5px;
  color: #e1474d;               /* colore del testo    */
  font-weight: bold;         /* testo in grassetto  */
  padding: 0;                /* padding             */
  height: 50px;              /* altezza             */
  width: 100px;               /* larghezza           */
  border-radius:35px;
}

#submit:hover {
  color:  #5146af;             /* colore del testo    */
}

#nombre{
display: flex;
justify-content: center;
width: 220px;
border:0px;
padding: 4px;
border-radius:35px;
}

#correo{
  display: flex;
  justify-content: center;
  width: 220px;
  border:0px;
  padding: 4px;
  border-radius:35px;
}

.footer{
  padding: 4px;
  text-align:center;
  margin:auto;
  background-color: #5146af;
  min-width: 300px;
  height: 30px;
  font-size: 1.4rem;
  color: white;

}


@media (min-width: 600px) {
  .imagen{
    width:100%;
    order: 1;
  }
  .invito_titulo{
    width:50%;
    order: 2;
    height: 220px;
    font-size: 3rem;
  }
  .invito_data{
    width:50%;
    order: 3;
    height: 220px;
    font-size: 2rem;
  }
  .invito_temas{
    width:50%;
    order: 4;
    height: 220px;
  }
  .main_input{
    width:50%;
    order: 5;
    height: 220px;
  }
}

@media (min-width: 800px) {
  .imagen{
    width:50%;
    order: 1;
  }
  .invito_titulo{
    width:50%;
    order: 2;
    height: 270px;
    font-size: 3rem;
  }
  .invito_data{
    width:50%;
    order: 3;
    height: 220px;
    font-size: 2rem;
  }
  .invito_temas{
    width:50%;
    order: 4;
    height: 220px;
  }
  .main_input{
    width:100%;
    order: 5;
    height: 220px;
  }
}
